#tituloPrincipal {
    color: red;

}

.parrafos{
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;

}

.enfasis{
    background-color: buttonshadow
    
}

a{
    color: magenta;
}